.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.login__logo {
  object-fit: contain;
  width: 150px;
  margin: 10px auto;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.login__signInButton:hover {
  background-color: #f0c454;
  box-shadow: 0.2px 0.2px 3px #f5c44a;
  transform: scale(1.005);
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid darkgray;
  margin-top: 10px;
}

.login__registerButton:hover {
  box-shadow: 0.2px 0.2px 3px gray;
  transform: scale(1.005);
}

.login__password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}

.login__forgotPassword {
  color: #0000ee;
  font-weight: 400;
  cursor: pointer;
}
